@import "tailwindcss";

body {
  margin: 0;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0f172a;
  color: #e2e8f0;
}


/* Standard syntax for modern browsers */
::selection {
  background-color: rgba(129,65,254,0.6); /* Changes the highlight background */
  color: #ffffff;            /* Changes the text color itself */
}