@import "tailwindcss";

body {
  margin: 0;
  font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0f172a;
  color: #e2e8f0;
}


